<h1> New Post </h1>

<%= form_with :model => @post do |form| %>
  
  <p>
    <%= form.label "title", "Post Title" %>
    <%= form.text_field "title" %>
  </p>

  <p>
    <%= form.label "posted_on", "Date" %>
    <%= form.date_field "posted_on" %>
  </p>

  <p>
    <%= form.label "description", "Description" %>
    <%= form.text_field "description" %>
  </p>

  <%= form.hidden_field "place_id" %>

  <%= form.submit %>
<% end %>

<p><a href="/places/<%= @place["id"] %>">Back to <%= @place["name"] %></a></p>